body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: teal;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 97%;
  padding: 6px;
}

.board-lists {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  grid-gap: 8px;
}

.title {
  font-weight: 700;
  text-align: left;
  font-size: 16px;
}

.board-list {
  background-color: gainsboro;
  border-radius: 3px;
  padding: 10px;
  height: 95%;
}

.new-card-button {
  position: absolute;
  bottom: 5%;
  cursor: pointer;
}

.card-container {
  margin: 10px;
  padding: 5px;
  text-align: center;
  background: white;
  border-radius: 0.2em;
  box-shadow: 2px 2px 2px gray;
}

.input-container {
  padding: 5px;
}

.toggle {
  margin: 8px;
  cursor: pointer;
}

.textarea {
  width: 100%;
  border-radius: 0.2em;
  box-shadow: 2px 2px 2px gray;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.button-container {
  display: flex;
}

.button {
  background-color: #4CAF50;
  padding: 2px;
  cursor: pointer;
  width: 20%;
  color: white;
  padding: 5px;
  border-radius: 0.2em;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}
