body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: teal;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 97%;
  padding: 6px;
}

.board-lists {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  grid-gap: 8px;
}

.board-list {
  background-color: gainsboro;
  border-radius: 3px;
  padding: 10px;
  height: 100%;
  text-align: center;
}

.new-card-button {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.card-container {
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
}
